DATABASE_URL="postgresql://postgres:postgres@database:5432/floehire"

MAIL_HOST=smtp.gmail.com
MAIL_PORT=porta_do_seu_provedor
MAIL_USER=seu_email@email.com
MAIL_PASS=senhadoapp
MAIL_FROM=seu_email@email.com

FRONTEND_URL=http://localhost:5173