# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Variáveis de ambiente
.env
.env.local
.env.development
.env.production
.env.test

# Build
dist/
build/

# Prisma
prisma/migrations/
prisma/.env

# Docker
.dockerignore
docker-compose.override.yml

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Coverage (testes)
coverage/

# TypeScript cache
*.tsbuildinfo

/generated/prisma
/.env.dev
/.env.prod